.modal {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: aliceblue;

}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    border-color: deepskyblue;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#score{
    position: fixed;
    top: 80px;
    left: 300px;

}
#point{
    position:fixed;
    top: 80px;
    left: 350px;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: aliceblue;
  border-style: solid;
  border-color:deepskyblue;
}

#snake {
  width: 0px;
  height: 0px;
  position: absolute;
  background: green;
    border-style: solid 1px;
    border color: darkgreen;
  top: 0px;
  left: 0px;
}

#apple {
  width: 0px;
  height: 0px;
  position: absolute;
  background: red;
    border-style: solid 1px;
    border color: darkred;
  top: 0px;
  left: 0px;
}
