#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: white;
  border-style: solid;
}

#snake {
  width: 50px;
  height: 50px;
  position: absolute;
  background: orange;
  top: 0px;
  left: 0px;
}
#apple {
    border: 1px solid darkgreen;
    width: 30px;
    height: 25px;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 300px;
}
