
#home {
      width: 500px;
      height: 500px;
      background color: aqua;
      background-size: auto 350px;
      background-repeat: no-repeat;
      background-color: lightblue;
      background-position: center center;
      padding: 0;
      margin: 03;

    }
#snake {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}
button {
      background-color: green;
      color: white;
      border: none;
      bottom: 0;
      height: 30px;
      font-size: 12pt;
      float: left;
      width: 90px;
      margin: 10px 0 0 0;
    }
button:hover {
    background-color: orangered;
}
